<template>
  <div>
    <div
      v-show="!show"
      @click="click(true)"
      style="display: block; width: 35px; height: 35px; border-radius: 4px"
      :style="{ 'background-color': value }"
    ></div>
    <div v-show="show">
      <chrome-picker label="Pick Colour" :value="value" @input="update" />
      <div class="button-ok" @click="click(false)">ok</div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["value", "updateColor"],
  data() {
    return {
      show: false,
    };
  },
  methods: {
    click(value) {
      this.show = value;
    },
    update(data) {
      this.updateColor(data.hex);
    },
  },
};
</script>
<style  scoped>
.button-ok {
  cursor: pointer;
  background-color: rgb(63 133 255 / 10%);
  /* color: #3f84ff; */
  transition: all ease-in 0.1s;


  font-weight: bold !important;
  width: 100% !important;
  min-width: 60px;
  background-color: #3f84ff;
  height: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border: transparent;
  border-radius: 10px;
  color: #fff;
  user-select: none;
  transition: all ease-in 0.1s;
  cursor: pointer;
  position: absolute;
}
.button-ok:hover {
  cursor: pointer;
  background-color: rgb(63 133 255 / 10%);
  color: #3f84ff;
  transition: all ease-in 0.1s;

  background-color: #2f6fdf;
  border-color: #3f84ff;
  -webkit-box-shadow: 0 0 0 4px #3f84ff1f;
  box-shadow: 0 0 0 4px #3f84ff1f;
}
</style>