<template>
  <div>
    <div class="item" title="Width">
      <Input
        type="number"
        :label="'W'"
        input-id="width"
        :get-value="getValue"
        :set-value="setValue"
      />
    </div>
    <div class="item" title="Height">
      <Input
        type="number"
        :label="'H'"
        input-id="height"
        :get-value="getValue"
        :set-value="setValue"
      />
    </div>
    <div class="item">
      <div
        class="item-icon"
        @click="focusObject(appConfig.listLayer.currentLayer.addObject('Rect'))"
        title="Rect"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M497,51H15C6.716,51,0,57.716,0,66v380c0,8.284,6.716,15,15,15h482c8.284,0,15-6.716,15-15V66
			C512,57.716,505.284,51,497,51z M482,431H30V81h452V431z"
              />
            </g>
          </g>
        </svg>
      </div>
      <div
        class="item-icon"
        @click="
          focusObject(appConfig.listLayer.currentLayer.addObject('Ellipse'))
        "
        title="Ellipse"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M435.204,126.967C387.398,94.1,324.11,76,257,76c-67.206,0-130.824,18.084-179.138,50.922C27.652,161.048,0,206.889,0,256
			c0,49.111,27.652,94.952,77.862,129.078C126.176,417.916,189.794,436,257,436c67.11,0,130.398-18.1,178.204-50.967
			C484.727,350.986,512,305.161,512,256S484.727,161.014,435.204,126.967z M418.208,360.312C375.354,389.774,318.103,406,257,406
			c-61.254,0-118.884-16.242-162.273-45.733C52.986,331.898,30,294.868,30,256s22.986-75.898,64.727-104.267
			C138.116,122.242,195.746,106,257,106c61.103,0,118.354,16.226,161.208,45.688C459.345,179.97,482,217.015,482,256
			S459.345,332.03,418.208,360.312z"
              />
            </g>
          </g>
        </svg>
      </div>
      <div
        class="item-icon"
        @click="
          focusObject(appConfig.listLayer.currentLayer.addObject('Circle'))
        "
        title="Circle"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <path
            d="M256,0C115.03,0,0,115.05,0,256c0,140.97,115.05,256,256,256c140.97,0,256-115.05,256-256C512,115.03,396.95,0,256,0z     M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30s226,101.383,226,226S380.617,482,256,482z"
          />
        </svg>
      </div>
      <div
        class="item-icon"
        @click="
          focusObject(appConfig.listLayer.currentLayer.addObject('Wedge'))
        "
        title="Wedge"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M452.265,358.067H225.522c-4.303-49.338-29.615-94.443-69.486-123.82l129.567-133.224
			c3.895-3.435,4.268-9.378,0.833-13.273c-0.26-0.295-0.538-0.573-0.833-0.833c-3.706-4.04-9.986-4.31-14.025-0.603
			c-0.21,0.192-0.411,0.394-0.603,0.603L2.959,363.291c-2.941,2.632-3.792,6.888-2.09,10.449c1.731,3.54,5.484,5.625,9.404,5.224
			h441.992c5.771,0,10.449-4.678,10.449-10.449S458.036,358.067,452.265,358.067z"
              />
            </g>
          </g>
        </svg>
      </div>
      <div
        class="item-icon"
        @click="focusObject(appConfig.listLayer.currentLayer.addObject('Star'))"
        title="Star"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <polygon
                points="307.267,111.06 242.379,1.154 177.487,111.06 0,111.06 94.281,240.59 0,370.12 173.022,370.12 242.379,483.606 
			311.74,370.12 484.76,370.12 394.481,240.59 484.76,111.06 		"
              />
            </g>
          </g>
        </svg>
      </div>
      <div
        class="item-icon"
        @click="
          focusObject(
            appConfig.listLayer.currentLayer.addObject('RegularPolygon')
          )
        "
        title="RegularPolygon"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M510.432,249.597L388.297,38.537c-2.096-3.631-5.967-5.378-10.159-5.378H133.861c-4.192,0-8.063,1.747-10.159,5.378
			L1.567,249.841c-2.09,3.631-2.09,7.976,0,11.607l122.135,211.535c2.096,3.632,5.967,5.858,10.159,5.858h244.276
			c4.192,0,8.063-2.288,10.159-5.919l122.135-211.569C512.523,257.722,512.523,253.228,510.432,249.597z M371.369,455.384H140.63
			L25.27,256.003L140.63,56.616h230.738l115.36,199.387L371.369,455.384z"
              />
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="item">
      <div class="item-icon" @click="drawLine()" title="Draw Line">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 312 312"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <path
              d="M271.315,54.522L218.989,2.196c-2.93-2.928-7.678-2.928-10.607,0L78.274,132.303c-1.049,1.05-1.764,2.388-2.053,3.843
            l-12.964,65.29c-0.487,2.456,0.282,4.994,2.053,6.765c1.421,1.42,3.334,2.196,5.304,2.196c0.485,0,0.975-0.047,1.461-0.144
            l65.29-12.964c1.456-0.289,2.793-1.004,3.843-2.053L271.315,65.129C274.244,62.2,274.244,57.452,271.315,54.522z M83.182,178.114
            l6.776-34.127l39.566,39.566l-34.127,6.776L83.182,178.114z"
            />
            <path
              d="M205.912,227.066c-71.729-30.029-118.425,19.633-132.371,27.175c-17.827,9.641-42.941,20.97-48.779,1.358
            c-3.522-11.832,15.521-24.479,28.131-28.42c9.2-2.876,5.271-17.358-3.988-14.465c-19.582,6.121-42.948,22.616-38.851,45.839
            c3.044,17.256,24.67,32.995,66.368,11.114c30.308-15.902,50.897-48.84,114.733-31.783c20.969,5.602,37.92,19.27,45.178,40.057
            c3.168,9.07,17.662,5.169,14.465-3.988C243.062,251.799,227.411,236.067,205.912,227.066z"
            />
          </g>
        </svg>
      </div>
      <div
        class="item-icon"
        @click="drawPolygon()"
        v-if="appConfig && appConfig.mode != 'draw-polygon'"
        title="Draw Polygon"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M510.596,251.012c-0.064-0.128-0.043-0.299-0.107-0.427l-128-224c-0.107-0.171-0.299-0.235-0.384-0.384
			c-0.128-0.192-0.128-0.405-0.277-0.597c-0.896-1.216-1.984-2.176-3.2-2.901c-0.149-0.085-0.341-0.085-0.491-0.171
			c-1.344-0.704-2.773-1.045-4.267-1.152c-0.235,0-0.427-0.171-0.661-0.171H138.543c-0.213,0-0.384,0.149-0.576,0.149
			c-1.643,0.085-3.264,0.448-4.715,1.28c-0.021,0-0.064,0-0.085,0.021c-1.237,0.725-2.347,1.685-3.243,2.923
			c-0.149,0.192-0.171,0.427-0.277,0.619c-0.107,0.149-0.277,0.213-0.384,0.384l-128,224c-0.085,0.149-0.043,0.299-0.128,0.448
			c-0.704,1.387-1.045,2.816-1.131,4.288c-0.021,0.512,0.043,0.96,0.107,1.472c0.107,1.195,0.405,2.325,0.896,3.413
			c0.128,0.299,0.085,0.661,0.256,0.96l128,224c0.171,0.299,0.491,0.405,0.683,0.683c0.725,1.024,1.557,1.877,2.603,2.603
			c0.405,0.277,0.747,0.576,1.173,0.789c1.451,0.768,3.051,1.301,4.821,1.301H373.21c1.771,0,3.371-0.533,4.843-1.301
			c0.427-0.213,0.768-0.512,1.173-0.789c1.024-0.725,1.899-1.579,2.603-2.624c0.192-0.256,0.491-0.384,0.661-0.661l128-224
			c0.149-0.277,0.107-0.597,0.235-0.896c0.512-1.131,0.832-2.304,0.939-3.541c0.043-0.469,0.107-0.896,0.085-1.365
			C511.684,253.871,511.322,252.42,510.596,251.012z M340.42,42.543l-84.544,61.483l-84.523-61.483H340.42z M355.162,319.876
			H156.591l99.285-180.501L355.162,319.876z M127.876,439.706l-88.32-154.56l88.32,51.52V439.706z M134.468,315.823L25.05,251.993
			L141.892,47.492l100.096,72.811L134.468,315.823z M362.543,469.21H149.21v-128h213.333V469.21z M383.898,439.684V336.665
			l88.299-51.499L383.898,439.684z M377.306,315.823l-107.541-195.52L369.86,47.514l116.843,204.48L377.306,315.823z"
              />
            </g>
          </g>
        </svg>
      </div>
      <div
        class="item-icon"
        @click="stopDrawPolygon()"
        v-if="appConfig && appConfig.mode == 'draw-polygon'"
        title="Stop Draw"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <path
            d="M 399.414062 218.605469 C 386.246094 207.839844 367.597656 204.394531 351.898438 209.824219 C 347.691406 211.28125 343.785156 213.324219 340.285156 215.898438 C 331.359375 222.464844 311.542969 242.175781 295.839844 261.683594 L 295.839844 111.3125 C 295.839844 98.53125 290.585938 86.039062 281.425781 77.035156 C 272.332031 68.097656 260.386719 63.277344 247.851562 63.511719 C 242.160156 63.613281 236.707031 64.742188 231.667969 66.714844 L 231.667969 52.027344 C 231.667969 38.117188 225.949219 24.519531 215.972656 14.714844 C 206.085938 4.996094 193.148438 -0.242188 179.464844 0.0078125 C 152.183594 0.480469 129.910156 22.65625 129.09375 49.765625 C 123.183594 47.085938 116.765625 45.582031 110.121094 45.382812 C 96.261719 44.976562 82.535156 50.339844 72.472656 60.109375 C 62.617188 69.675781 57.1875 82.304688 57.1875 95.632812 L 57.152344 109.875 C 52.898438 108.476562 48.363281 107.710938 43.648438 107.710938 C 19.855469 107.710938 0.5 127.066406 0.5 150.855469 L 0.515625 369.441406 L 0.550781 370.476562 C 2.539062 399.164062 8.542969 423.726562 18.402344 443.484375 C 27.644531 462.007812 40.539062 476.921875 56.726562 487.8125 C 88.582031 509.25 127.933594 512 158.65625 512 C 218.988281 512 273.265625 482.003906 300.410156 433.691406 C 303.710938 428.371094 312.410156 414.691406 321.804688 399.9375 C 330.953125 385.5625 339.464844 372.316406 346.96875 360.628906 C 351.09375 354.203125 354.847656 348.359375 358.105469 343.265625 C 370.242188 324.285156 383.175781 305.882812 396.550781 288.566406 C 401.511719 282.144531 403.039062 280.402344 403.386719 280.019531 C 409.648438 273.1875 413.59375 264.824219 414.796875 255.828125 C 416.691406 241.714844 411.082031 228.144531 399.414062 218.605469 Z M 385.03125 251.84375 C 384.644531 254.71875 383.335938 257.445312 381.246094 259.726562 C 380.15625 260.917969 378.207031 263.183594 372.785156 270.207031 C 358.867188 288.222656 345.414062 307.359375 332.800781 327.085938 C 329.550781 332.167969 325.8125 337.988281 321.695312 344.398438 C 314.175781 356.109375 305.652344 369.386719 296.46875 383.808594 C 286.855469 398.910156 277.957031 412.898438 274.699219 418.160156 L 274.359375 418.738281 C 252.574219 457.738281 208.242188 481.964844 158.660156 481.964844 C 132.203125 481.964844 98.609375 479.796875 73.496094 462.898438 C 47.871094 445.65625 33.824219 414.914062 30.550781 368.914062 L 30.535156 150.859375 C 30.535156 143.628906 36.417969 137.746094 43.648438 137.746094 C 50.921875 137.746094 56.839844 143.628906 56.839844 150.859375 L 56.839844 232.660156 C 56.839844 232.902344 56.867188 233.136719 56.875 233.378906 C 56.890625 233.644531 56.890625 233.914062 56.917969 234.179688 C 56.941406 234.417969 56.988281 234.648438 57.023438 234.882812 C 57.0625 235.144531 57.089844 235.410156 57.140625 235.671875 C 57.191406 235.90625 57.261719 236.136719 57.320312 236.367188 C 57.382812 236.613281 57.433594 236.867188 57.511719 237.109375 C 57.582031 237.34375 57.675781 237.570312 57.761719 237.796875 C 57.84375 238.027344 57.917969 238.261719 58.015625 238.488281 C 58.109375 238.714844 58.222656 238.929688 58.328125 239.148438 C 58.433594 239.367188 58.53125 239.589844 58.644531 239.804688 C 58.757812 240.015625 58.894531 240.21875 59.019531 240.425781 C 59.144531 240.632812 59.261719 240.84375 59.394531 241.042969 C 59.53125 241.242188 59.683594 241.429688 59.828125 241.621094 C 59.972656 241.816406 60.105469 242.015625 60.257812 242.199219 C 60.410156 242.382812 60.578125 242.550781 60.734375 242.726562 C 60.898438 242.90625 61.054688 243.097656 61.226562 243.269531 C 61.394531 243.433594 61.570312 243.582031 61.746094 243.742188 C 61.925781 243.90625 62.101562 244.082031 62.292969 244.238281 C 62.472656 244.386719 62.664062 244.519531 62.851562 244.660156 C 63.050781 244.808594 63.242188 244.964844 63.445312 245.105469 C 63.636719 245.234375 63.839844 245.34375 64.035156 245.460938 C 64.25 245.59375 64.460938 245.734375 64.683594 245.859375 C 64.886719 245.96875 65.101562 246.058594 65.308594 246.160156 C 65.535156 246.273438 65.761719 246.390625 65.996094 246.492188 C 66.210938 246.585938 66.441406 246.65625 66.660156 246.738281 C 66.898438 246.824219 67.132812 246.921875 67.375 247 C 67.605469 247.070312 67.847656 247.121094 68.082031 247.183594 C 68.328125 247.246094 68.566406 247.320312 68.8125 247.371094 C 69.0625 247.421875 69.3125 247.449219 69.5625 247.488281 C 69.8125 247.523438 70.054688 247.574219 70.304688 247.601562 C 70.554688 247.625 70.8125 247.628906 71.066406 247.640625 C 71.316406 247.652344 71.566406 247.679688 71.820312 247.679688 C 71.832031 247.679688 71.847656 247.679688 71.859375 247.679688 C 72.378906 247.679688 72.890625 247.652344 73.394531 247.601562 C 73.613281 247.582031 73.828125 247.535156 74.046875 247.503906 C 74.324219 247.464844 74.609375 247.433594 74.882812 247.375 C 75.171875 247.316406 75.449219 247.234375 75.730469 247.160156 C 75.925781 247.105469 76.128906 247.066406 76.320312 247.007812 C 76.632812 246.910156 76.9375 246.789062 77.242188 246.671875 C 77.390625 246.613281 77.550781 246.566406 77.699219 246.503906 C 78.003906 246.375 78.292969 246.222656 78.585938 246.078125 C 78.726562 246.007812 78.871094 245.949219 79.011719 245.875 C 79.285156 245.726562 79.542969 245.554688 79.804688 245.390625 C 79.953125 245.300781 80.105469 245.21875 80.246094 245.121094 C 80.488281 244.960938 80.71875 244.777344 80.949219 244.597656 C 81.101562 244.484375 81.257812 244.378906 81.402344 244.257812 C 81.617188 244.085938 81.8125 243.890625 82.015625 243.703125 C 82.167969 243.566406 82.324219 243.433594 82.472656 243.292969 C 82.660156 243.105469 82.828125 242.902344 83.003906 242.707031 C 83.148438 242.546875 83.304688 242.390625 83.441406 242.226562 C 83.597656 242.035156 83.738281 241.832031 83.886719 241.632812 C 84.027344 241.445312 84.175781 241.265625 84.304688 241.070312 C 84.441406 240.871094 84.554688 240.664062 84.679688 240.457031 C 84.804688 240.25 84.941406 240.046875 85.058594 239.835938 C 85.171875 239.625 85.265625 239.40625 85.371094 239.191406 C 85.476562 238.96875 85.59375 238.75 85.691406 238.523438 C 85.785156 238.304688 85.855469 238.074219 85.9375 237.851562 C 86.027344 237.617188 86.121094 237.386719 86.199219 237.144531 C 86.269531 236.914062 86.320312 236.679688 86.378906 236.445312 C 86.441406 236.199219 86.515625 235.957031 86.570312 235.707031 C 86.617188 235.472656 86.644531 235.226562 86.679688 234.984375 C 86.722656 234.730469 86.769531 234.476562 86.796875 234.21875 C 86.824219 233.976562 86.824219 233.726562 86.835938 233.480469 C 86.851562 233.21875 86.878906 232.964844 86.878906 232.703125 L 87.226562 95.671875 C 87.226562 90.5 89.417969 85.523438 93.394531 81.660156 C 97.667969 77.515625 103.449219 75.226562 109.234375 75.40625 C 120.070312 75.730469 128.886719 85.15625 128.886719 96.441406 L 129.058594 231.867188 C 129.058594 232.140625 129.085938 232.40625 129.101562 232.671875 C 129.113281 232.910156 129.113281 233.15625 129.136719 233.390625 C 129.164062 233.671875 129.21875 233.941406 129.261719 234.214844 C 129.296875 234.4375 129.320312 234.664062 129.363281 234.882812 C 129.425781 235.179688 129.511719 235.46875 129.589844 235.757812 C 129.640625 235.945312 129.679688 236.136719 129.734375 236.320312 C 129.832031 236.632812 129.957031 236.9375 130.074219 237.242188 C 130.132812 237.394531 130.175781 237.550781 130.238281 237.699219 C 130.378906 238.023438 130.539062 238.339844 130.699219 238.652344 C 130.761719 238.769531 130.808594 238.894531 130.871094 239.007812 C 131.046875 239.332031 131.246094 239.640625 131.441406 239.945312 C 131.503906 240.046875 131.558594 240.148438 131.625 240.246094 C 131.832031 240.554688 132.058594 240.84375 132.285156 241.132812 C 132.355469 241.222656 132.417969 241.316406 132.488281 241.402344 C 132.742188 241.710938 133.015625 242 133.292969 242.285156 C 133.351562 242.347656 133.398438 242.410156 133.457031 242.46875 C 133.742188 242.753906 134.046875 243.019531 134.355469 243.28125 C 134.414062 243.332031 134.464844 243.386719 134.523438 243.4375 C 134.832031 243.691406 135.152344 243.921875 135.476562 244.148438 C 135.546875 244.199219 135.609375 244.253906 135.679688 244.300781 C 136.007812 244.523438 136.351562 244.722656 136.695312 244.917969 C 136.769531 244.960938 136.839844 245.011719 136.917969 245.054688 C 137.277344 245.246094 137.648438 245.417969 138.023438 245.585938 C 138.09375 245.617188 138.160156 245.65625 138.230469 245.6875 C 138.613281 245.847656 139.007812 245.984375 139.40625 246.117188 C 139.476562 246.136719 139.539062 246.167969 139.609375 246.191406 C 140.003906 246.3125 140.40625 246.410156 140.808594 246.5 C 140.890625 246.515625 140.96875 246.542969 141.050781 246.5625 C 142.027344 246.761719 143.039062 246.867188 144.074219 246.867188 C 144.082031 246.867188 144.089844 246.867188 144.097656 246.867188 C 144.359375 246.867188 144.617188 246.839844 144.875 246.828125 C 145.125 246.8125 145.375 246.8125 145.621094 246.789062 C 145.894531 246.757812 146.15625 246.707031 146.425781 246.664062 C 146.652344 246.628906 146.886719 246.605469 147.113281 246.558594 C 147.382812 246.503906 147.644531 246.425781 147.910156 246.355469 C 148.125 246.296875 148.339844 246.253906 148.550781 246.1875 C 148.820312 246.105469 149.078125 246 149.339844 245.898438 C 149.535156 245.824219 149.738281 245.765625 149.929688 245.683594 C 150.199219 245.566406 150.460938 245.429688 150.722656 245.300781 C 150.894531 245.214844 151.074219 245.140625 151.242188 245.050781 C 151.5 244.910156 151.746094 244.746094 151.996094 244.59375 C 152.15625 244.492188 152.324219 244.402344 152.480469 244.296875 C 152.71875 244.136719 152.941406 243.957031 153.167969 243.78125 C 153.324219 243.664062 153.484375 243.554688 153.636719 243.429688 C 153.851562 243.253906 154.054688 243.054688 154.261719 242.863281 C 154.40625 242.730469 154.558594 242.601562 154.703125 242.460938 C 154.894531 242.265625 155.074219 242.054688 155.257812 241.851562 C 155.394531 241.699219 155.539062 241.554688 155.671875 241.394531 C 155.835938 241.191406 155.984375 240.976562 156.136719 240.769531 C 156.269531 240.589844 156.410156 240.417969 156.535156 240.238281 C 156.675781 240.03125 156.792969 239.8125 156.921875 239.597656 C 157.042969 239.398438 157.175781 239.203125 157.285156 239 C 157.402344 238.785156 157.496094 238.558594 157.601562 238.339844 C 157.707031 238.121094 157.824219 237.910156 157.917969 237.683594 C 158.007812 237.46875 158.082031 237.242188 158.160156 237.019531 C 158.25 236.78125 158.347656 236.546875 158.421875 236.304688 C 158.492188 236.070312 158.542969 235.832031 158.605469 235.59375 C 158.667969 235.351562 158.742188 235.113281 158.789062 234.867188 C 158.839844 234.621094 158.867188 234.367188 158.90625 234.121094 C 158.941406 233.871094 158.992188 233.625 159.015625 233.375 C 159.042969 233.121094 159.042969 232.863281 159.054688 232.605469 C 159.070312 232.351562 159.09375 232.105469 159.09375 231.847656 L 159.09375 51.308594 C 159.09375 39.777344 168.46875 30.238281 179.988281 30.039062 C 185.546875 29.960938 190.828125 32.109375 194.925781 36.136719 C 199.191406 40.328125 201.636719 46.121094 201.636719 52.027344 L 201.636719 232.675781 C 201.636719 232.949219 201.664062 233.214844 201.679688 233.484375 C 201.691406 233.722656 201.691406 233.964844 201.714844 234.203125 C 201.742188 234.46875 201.796875 234.726562 201.835938 234.988281 C 201.875 235.226562 201.898438 235.464844 201.945312 235.695312 C 202 235.957031 202.078125 236.210938 202.144531 236.46875 C 202.203125 236.691406 202.246094 236.914062 202.316406 237.132812 C 202.402344 237.410156 202.511719 237.679688 202.613281 237.949219 C 202.683594 238.136719 202.742188 238.328125 202.820312 238.511719 C 202.941406 238.792969 203.082031 239.0625 203.21875 239.335938 C 203.296875 239.496094 203.367188 239.664062 203.453125 239.824219 C 203.601562 240.101562 203.773438 240.363281 203.941406 240.628906 C 204.03125 240.769531 204.109375 240.921875 204.207031 241.0625 C 204.386719 241.328125 204.585938 241.582031 204.785156 241.835938 C 204.882812 241.960938 204.96875 242.09375 205.070312 242.214844 C 205.289062 242.484375 205.53125 242.734375 205.769531 242.988281 C 205.863281 243.082031 205.945312 243.1875 206.039062 243.28125 C 206.285156 243.53125 206.550781 243.757812 206.816406 243.988281 C 206.914062 244.074219 207.003906 244.167969 207.105469 244.25 C 207.402344 244.496094 207.714844 244.71875 208.027344 244.941406 C 208.105469 244.996094 208.179688 245.058594 208.261719 245.117188 C 208.597656 245.34375 208.949219 245.550781 209.304688 245.75 C 209.371094 245.785156 209.429688 245.832031 209.496094 245.867188 C 209.886719 246.078125 210.285156 246.265625 210.695312 246.445312 C 210.734375 246.460938 210.769531 246.484375 210.808594 246.5 C 211.234375 246.679688 211.671875 246.835938 212.117188 246.976562 C 212.140625 246.988281 212.164062 246.996094 212.191406 247.003906 C 213.125 247.296875 214.097656 247.496094 215.101562 247.601562 C 215.109375 247.601562 215.113281 247.601562 215.121094 247.601562 C 215.625 247.652344 216.136719 247.679688 216.65625 247.679688 C 216.660156 247.679688 216.664062 247.679688 216.671875 247.679688 C 216.9375 247.679688 217.199219 247.652344 217.464844 247.640625 C 217.710938 247.625 217.957031 247.625 218.199219 247.601562 C 218.476562 247.574219 218.746094 247.519531 219.019531 247.476562 C 219.242188 247.441406 219.46875 247.417969 219.691406 247.371094 C 219.984375 247.3125 220.265625 247.226562 220.550781 247.152344 C 220.742188 247.101562 220.941406 247.0625 221.128906 247.003906 C 221.433594 246.90625 221.726562 246.789062 222.023438 246.675781 C 222.183594 246.613281 222.347656 246.5625 222.507812 246.496094 C 222.808594 246.367188 223.097656 246.21875 223.390625 246.070312 C 223.53125 246 223.679688 245.941406 223.820312 245.863281 C 224.105469 245.707031 224.378906 245.53125 224.65625 245.355469 C 224.789062 245.273438 224.925781 245.199219 225.058594 245.109375 C 225.339844 244.921875 225.601562 244.710938 225.867188 244.503906 C 225.980469 244.417969 226.101562 244.335938 226.214844 244.246094 C 226.476562 244.027344 226.722656 243.789062 226.972656 243.554688 C 227.074219 243.460938 227.183594 243.375 227.277344 243.277344 C 227.519531 243.035156 227.746094 242.777344 227.96875 242.515625 C 228.0625 242.414062 228.160156 242.316406 228.25 242.210938 C 228.464844 241.949219 228.660156 241.671875 228.855469 241.398438 C 228.9375 241.28125 229.03125 241.171875 229.113281 241.054688 C 229.296875 240.78125 229.460938 240.496094 229.625 240.210938 C 229.703125 240.078125 229.792969 239.953125 229.867188 239.816406 C 230.023438 239.527344 230.15625 239.226562 230.292969 238.925781 C 230.359375 238.785156 230.4375 238.648438 230.496094 238.503906 C 230.621094 238.210938 230.722656 237.90625 230.828125 237.605469 C 230.882812 237.445312 230.953125 237.289062 231.003906 237.121094 C 231.089844 236.835938 231.15625 236.535156 231.230469 236.242188 C 231.273438 236.054688 231.332031 235.871094 231.371094 235.683594 C 231.429688 235.394531 231.464844 235.09375 231.507812 234.800781 C 231.535156 234.597656 231.578125 234.398438 231.597656 234.191406 C 231.628906 233.917969 231.628906 233.636719 231.640625 233.355469 C 231.652344 233.125 231.675781 232.898438 231.675781 232.660156 L 231.675781 108.707031 C 232.652344 100.328125 239.765625 93.691406 248.378906 93.542969 C 252.804688 93.46875 257.078125 95.210938 260.378906 98.457031 C 263.832031 101.847656 265.8125 106.535156 265.8125 111.3125 L 265.8125 288.574219 L 265.820312 289.246094 C 265.902344 298.976562 272.292969 307.199219 281.71875 309.707031 C 291.082031 312.195312 300.648438 308.261719 305.570312 299.832031 L 305.664062 299.664062 C 317.4375 279.09375 348.90625 246.851562 358.09375 240.09375 C 359.15625 239.308594 360.378906 238.679688 361.726562 238.210938 C 367.710938 236.144531 375.214844 237.609375 380.410156 241.859375 C 382.855469 243.863281 385.648438 247.222656 385.03125 251.84375 Z M 385.03125 251.84375 "
            style="
              stroke: none;
              fill-rule: nonzero;
              fill: rgb(0%, 0%, 0%);
              fill-opacity: 1;
            "
          />
        </svg>
      </div>
      <div class="item-icon" @click="multipleSelect" title="Multiple Select">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <path
            d="M244.279,91.662c-4.198,0-8.195,0.876-11.825,2.45c-4.413-11.152-15.238-19.058-27.869-19.058
	c-4.692,0-9.136,1.092-13.094,3.034c-5.009-9.657-15.048-16.27-26.598-16.27c-3.395,0-6.655,0.579-9.701,1.632V30.201
	C155.193,13.549,141.738,0,125.198,0C108.66,0,95.206,13.549,95.206,30.201v119.643L73.604,125.13
	c-0.151-0.169-0.305-0.335-0.465-0.494c-5.672-5.676-13.221-8.823-21.256-8.862c-0.052,0-0.101,0-0.153,0
	c-8.016,0-15.521,3.095-21.146,8.724c-9.918,9.921-10.467,24.647-1.502,40.408c11.605,20.39,24.22,39.616,35.351,56.581
	c8.134,12.398,15.818,24.108,21.435,33.79c4.871,8.402,17.801,35.651,17.933,35.926c1.678,3.541,5.247,5.798,9.163,5.798h128.27
	c4.407,0,8.308-2.843,9.659-7.035c2.392-7.439,23.379-73.398,23.379-98.871v-69.229C274.27,105.21,260.817,91.662,244.279,91.662z
	 M234.579,121.865c0-5.468,4.352-9.916,9.7-9.916c5.351,0,9.703,4.448,9.703,9.916v69.229c0,16.928-13.01,62.437-20.189,85.618
	H119.361c-4.206-8.752-12.089-24.964-15.944-31.613c-5.897-10.168-13.73-22.105-22.022-34.744
	c-10.966-16.71-23.393-35.652-34.681-55.482c-2.946-5.181-5.646-12.166-1.78-16.032c1.803-1.807,4.231-2.751,6.851-2.779
	c2.557,0.013,4.962,0.977,6.805,2.721l39.124,44.755c2.78,3.183,7.248,4.306,11.202,2.821c3.958-1.486,6.579-5.271,6.579-9.497
	V30.201c0-5.467,4.353-9.913,9.704-9.913c5.352,0,9.706,4.446,9.706,9.913v94.711c0,5.602,4.543,10.144,10.144,10.144
	c5.601,0,10.144-4.542,10.144-10.144V92.016c0-5.464,4.352-9.909,9.701-9.909c5.351,0,9.703,4.445,9.703,9.909v46.127
	c0,5.605,4.542,10.145,10.143,10.145c5.602,0,10.145-4.539,10.145-10.145v-32.888c0-5.467,4.352-9.914,9.701-9.914
	c5.352,0,9.706,4.447,9.706,9.914v46.13c0,5.601,4.542,10.145,10.144,10.145c5.603,0,10.145-4.544,10.145-10.145V121.865z"
          />
        </svg>
      </div>
    </div>
    <div class="item">
      <div class="item-icon" @click="loadImage()" title="Load Image From Local">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M435.2,153.6H320v25.6h102.4v307.2H89.6V179.2H192v-25.6H76.8c-7.066,0-12.8,5.734-12.8,12.8v332.8
			c0,7.066,5.734,12.8,12.8,12.8h358.4c7.066,0,12.8-5.734,12.8-12.8V166.4C448,159.334,442.266,153.6,435.2,153.6z"
              />
            </g>
          </g>
          <g>
            <g>
              <path
                d="M341.956,234.249c-4.941-5.052-13.056-5.146-18.099-0.205L268.8,287.898V12.8C268.8,5.734,263.066,0,256,0
			c-7.066,0-12.8,5.734-12.791,12.8v275.089l-55.057-53.854c-5.043-4.941-13.158-4.847-18.099,0.205
			c-4.941,5.06-4.855,13.158,0.205,18.099l76.8,75.128c5.043,4.949,13.158,4.855,18.099-0.188l76.595-74.931
			C346.803,247.407,346.897,239.309,341.956,234.249z"
              />
            </g>
          </g>
        </svg>
      </div>
      <div
        class="item-icon"
        @click="loadImageFromCollection()"
        title="Load Image From Collection"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <path
              d="m356.827 41.913c-22.858-15.731-49.646-24.047-77.47-24.047-51.626 0-98.316 28.587-121.851 74.605-3.798 7.43-10.626 6.496-17.287 6.496-41.146 0-77.746 26.147-91.074 65.064-1.178 3.441-4.061 6.19-7.907 7.542-25.688 9.029-42.242 33.406-41.19 60.659 1.281 33.263 29.427 59.271 62.868 59.271h22.527v27.112h-21.936c-3.135-9.245-11.89-15.92-22.181-15.92-12.914 0-23.421 10.506-23.421 23.42 0 12.915 10.507 23.421 23.421 23.421 10.291 0 19.047-6.675 22.181-15.921h29.436c4.143 0 7.5-3.358 7.5-7.5v-34.612h67.795v100.124h-44.964c-3.254-11.163-13.572-19.346-25.772-19.346-14.804 0-26.847 12.043-26.847 26.846s12.043 26.846 26.847 26.846c12.2 0 22.518-8.183 25.772-19.346h52.464c4.143 0 7.5-3.358 7.5-7.5v-107.624h67.693v139.745c-13.979 3.383-24.395 15.992-24.395 30.995 0 17.587 14.308 31.895 31.895 31.895s31.895-14.308 31.895-31.895c0-15.004-10.416-27.613-24.395-30.995v-139.745h16.347c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-219.362c-25.447 0-46.927-20.119-47.88-44.849-.796-20.638 11.732-39.095 31.177-45.929 8.207-2.885 14.448-9.021 17.124-16.834 11.251-32.852 42.147-54.924 76.883-54.924 5.147 0 22.151 1.942 30.643-14.666 20.957-40.979 62.529-66.435 108.495-66.435 24.772 0 48.62 7.401 68.966 21.403 3.413 2.349 8.082 1.486 10.43-1.926 2.347-3.412 1.485-8.082-1.927-10.43zm-315.501 292.623c-4.644 0-8.421-3.778-8.421-8.421s3.777-8.42 8.421-8.42c4.643 0 8.42 3.777 8.42 8.42s-3.778 8.421-8.42 8.421zm56.176 76.437c-6.532 0-11.847-5.314-11.847-11.846s5.314-11.846 11.847-11.846c6.531 0 11.846 5.314 11.846 11.846s-5.314 11.846-11.846 11.846zm177.824 51.271c0 9.316-7.579 16.895-16.895 16.895-9.315 0-16.895-7.579-16.895-16.895s7.579-16.895 16.895-16.895 16.895 7.579 16.895 16.895z"
            />
            <path
              d="m412.193 276.503h-94.915c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h16.348v107.624c0 4.142 3.357 7.5 7.5 7.5h52.463c3.254 11.163 13.572 19.346 25.773 19.346 14.803 0 26.846-12.043 26.846-26.846s-12.043-26.846-26.846-26.846c-12.2 0-22.519 8.183-25.773 19.346h-44.963v-100.124h63.567c1.575 0 3.147-.041 4.716-.117v34.729c0 4.142 3.357 7.5 7.5 7.5h29.435c3.135 9.246 11.891 15.921 22.182 15.921 12.914 0 23.421-10.506 23.421-23.421 0-12.914-10.507-23.42-23.421-23.42-10.291 0-19.047 6.675-22.182 15.92h-21.935v-29.108c45.637-9.282 81.006-49.397 80.077-97.937-1.047-54.681-46.681-98.044-101.431-96.051-4.496.166-8.86-2.327-11.055-6.342-4.295-7.86-9.397-15.342-15.167-22.237-2.658-3.178-7.389-3.598-10.564-.939-3.177 2.658-3.598 7.388-.939 10.564 5.139 6.143 9.684 12.805 13.507 19.804 4.74 8.677 14.012 14.158 23.816 14.158.313 0 .628-.006.943-.017 46.273-1.674 85.004 34.964 85.892 81.348.898 46.846-38.546 84.645-84.795 84.645zm7.168 110.778c6.531 0 11.846 5.314 11.846 11.846s-5.314 11.846-11.846 11.846-11.847-5.314-11.847-11.846 5.315-11.846 11.847-11.846zm56.665-69.587c4.644 0 8.421 3.777 8.421 8.42s-3.777 8.421-8.421 8.421-8.421-3.778-8.421-8.421 3.777-8.42 8.421-8.42z"
            />
          </g>
        </svg>
      </div>
      <div style="width: 100%">
        <div style="width: 100%">
          <div></div>
          <div style="width: 100%">
            <input class="inputUpload" type="text" v-model="urlImage" />
          </div>
          <div
            class="item-icon"
            @click="loadImage(urlImage)"
            title="Load Image From URL"
          >
            <!-- <svg
              x="0px"
              y="0px"
              viewBox="0 0 512 512"
              fill="currentColor"
              xml:space="preserve"
            >
              <path
                d="M256,0C115.03,0,0,115.05,0,256c0,140.97,115.05,256,256,256c140.97,0,256-115.05,256-256C512,115.03,396.95,0,256,0z     M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30s226,101.383,226,226S380.617,482,256,482z"
              />
            </svg> -->
            LOAD
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item-icon">New Text</div>
      <div style="width: 100%">
        <div style="width: 100%">
          <div></div>
          <div style="width: 100%">
            <input class="inputUpload" type="text" v-model="newText" />
          </div>
          <div
            class="item-icon"
            @click="
              focusObject(
                appConfig.listLayer.currentLayer.addObject('Text', {
                  text: newText || 'Default Text',
                })
              );
              newText = '';
            "
          >
            ADD
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- <div class="item">
      <div class="item-icon">Layer</div>
      <div style="width: 100%">
        <div style="width: 100%">
          <div>Name Layer</div>
          <div style="width: 100%">
            <input class="inputUpload" type="text" v-model="newText" />
          </div>
          <div
            class="item-icon"
            @click="
              focusObject(
                appConfig.listLayer.currentLayer.addObject('Text', {
                  text: newText || 'Default Text',
                })
              );
              newText = '';
            "
          >
            ADD
          </div>
        </div>
      </div>
    </div> -->
    <!--  -->

    <!-- <div >
            <div>
                <div v-for="(layer, key) in _getListOfLayers" :key="layer.attrs.name + key">
                    {{layer.attrs.name}} {{key}} <button>set current layer</button>
                </div>
                <div>
                    Background Layer
                    <button>Set current layer</button>
                </div>
            </div>
        </div> -->
  </div>
</template>

<script>
import { Shape } from "konva";
import { setCurrentFocusedObject } from "../../services/utils";
import AppProperties from "./AppProperties";
import Input from "../misc-component/input";
import ApiService from "../../services/apiservice";
import Vue from "vue";
import Config from "../../config/default.json";

export default {
  name: "Control",
  components: {
    AppProperties,
    Input,
  },
  props: {
    appConfig: {
      type: Object,
      default() {
        return {
          mainConfig: {
            width: 0,
            height: 0,
          },
          listLayer: [],
        };
      },
    },
  },
  data() {
    return {
      urlImage: null,
      newLayerName: null,
      newText: "",
    };
  },
  methods: {
    getLayerDataSource() {
      return this.appConfig.listLayer.layerList;
    },
    removeLayer(layer) {
      this.appConfig.listLayer.removeLayer;
      this.appConfig.currentFocus = null;
    },
    isShape(object) {
      return object instanceof Shape;
    },
    onCurrentLayerChange(newLayer = null) {
      setCurrentFocusedObject(this.appConfig, newLayer);
    },
    focusObject(object) {
      setCurrentFocusedObject(this.appConfig, object);
    },
    drawLine() {
      const _newLine = this.appConfig.listLayer.currentLayer.addObject("Line", {
        strokeEnabled: true,
        stroke: "black",
        fillEnabled: false,
        strokeWidth: 5,
        width: 1,
        height: 1,
      });
      this.appConfig.mode = "draw-line";
      setCurrentFocusedObject(this.appConfig, _newLine);
    },
    drawPolygon() {
      const _newLine = this.appConfig.listLayer.currentLayer.addObject("Line", {
        strokeEnabled: true,
        stroke: "black",
        fillEnabled: true,
        strokeWidth: 10,
        closed: true,
        width: 1,
        height: 1,
        draggable: false,
      });
      this.appConfig.mode = "draw-polygon";
      setCurrentFocusedObject(this.appConfig, _newLine);
    },
    stopDrawPolygon() {
      this.appConfig.mode = null;
      this.appConfig.stage.draggable(true);
      this.appConfig.stage.container().style.cursor = "auto";
      const _currObj = this.appConfig.currentFocus;
      if (_currObj && _currObj.getClassName() == "Line") {
        _currObj.points(_currObj.tempPoints);
        _currObj.draggable(true);
        this.focusObject(_currObj);
      }
    },
    loadImage(imageURL, imageName) {
      let self = this;
      if (imageURL) {
        console.log(imageURL);
        this.appConfig.listLayer.currentLayer.addImage(imageURL, {
          name: imageName,
        });
      } else {
        const inputEle = document.createElement("input");
        inputEle.type = "file";
        inputEle.accept = "image/*";

        inputEle.addEventListener("change", () => {
          const file = inputEle.files[0];
          if (!file) return;
          if (!self.appConfig.listLayer.currentLayer) return;

          const payload = new FormData();
          payload.append("file", file, file.name);

          ApiService.createImage(payload).then((res) => {
            console.log(res);
            self.appConfig.listLayer.currentLayer.addImage(
              Config.BASE_URL + "/" + res.content.path,
              { name: res.content.name }
            );
          });
        });
        inputEle.click();
      }
    },
    layerMoveDown(event) {
      const layer = event.item.data;
      if (layer) {
        const _length = this.appConfig.listLayer.layerList.length;
        const _newZIndex = _length - event.currentIndex;
        layer.setZIndex(_newZIndex);
        this.appConfig.stage.batchDraw();
      }
    },
    loadImageFromCollection() {
      let self = this;
      Vue.dialog
        .alert("", {
          view: "OpenCollection",
        })
        .then((res) => {
          self.appConfig.listLayer.currentLayer.addImage(
            Config.BASE_URL + "/" + res.data.path,
            { name: res.data.name }
          );
        });
      // dialogRef.afterClosed().subscribe((imgs) => {
      //     if(imgs && imgs.length) {
      //         imgs.forEach(img => (this.loadImage(img.path, img.name)));
      //     }
      // })
    },
    getListOfLayers() {
      // if(!this.appConfig) return []
      return this.appConfig.listLayer.layerList.sort(
        (la, lb) => -la.getZIndex() + lb.getZIndex()
      );
    },
    multipleSelect() {
      this.appConfig.mode = "multiple-select";
    },
    getValue(param, inputId) {
      return this.appConfig.mainConfig[param || inputId];
    },
    setValue(param, value, inputId) {
      // if(value < 1080) return
      this.appConfig.mainConfig[param || inputId] = value;
      this.appConfig.updateMainConfig();
    },
  },
  computed: {
    _getListOfLayers() {
      // if(!this.appConfig) return []
      return this.appConfig.listLayer.layerList;
    },
  },
};
</script>
<style lang="less">
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin: 0 -20px 15px -20px;
  height: 40px;
  & > div > div {
    display: flex;
    position: relative;
    & > *:nth-child(1) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      margin: 0;
      opacity: 0.5;
    }
    & > *:nth-child(3) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      margin: 0;
      opacity: 0.5;
    }
  }
}
.item-icon {
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  margin: 0 15px 0 20px;
  transition: all ease-in-out 0.2s;
  box-shadow: 0 0 0 10px #fff;
  background: #fff;
  cursor: pointer;
  &.option {
    opacity: 0.5;
    margin-left: 15px;
  }
  &:hover {
    color: #0573c7;
    opacity: 1;
    box-shadow: 0 0 0 10px #0573c715;
    background: #0573c715;
    border-radius: 1px;
    transition: all ease-in-out 0.2s;
  }
}
.inputUpload {
  padding-right: 42px !important;
  padding-left: 15px !important;
  width: 100% !important;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
.selectize-input,
.ql-container .ql-editor,
select,
.input-with-prefix {
  font-weight: 400;
  width: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 40px;
  min-height: 40px;
  padding: 11px 16px 11px 40px;
  outline: none;
  border-radius: 5px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease,
    color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid transparent !important;
  background: transparent;
}
input:hover[type="text"],
input:hover[type="search"],
input:hover[type="password"],
input:hover[type="email"],
input:hover[type="url"],
input:hover[type="tel"],
.selectize-input:hover,
.ql-container .ql-editor:hover,
select:hover,
.input-with-prefix:hover {
  background-color: #fff !important;
  border-color: #0573c7 !important;
  box-shadow: 0 0 0 4px #0573c738 !important;
}
</style>