<template>
  <div class="nav-bar">
    <!-- <router-link to="/">
      <div class="icon-nav provider"></div>
    </router-link> -->
    <router-link to="/app">
              <div class="icon-nav product"></div>
    </router-link>
    <!-- <router-link to="/login" v-show="!State.isLogin">
      <div>
        LOGIN
      </div>
    </router-link> -->
    <router-link to="/user" v-show="State.isLogin">
      <div class="icon-nav customer"></div>
    </router-link>
    <div
        class="icon-nav logout" @click="enterLogout()"      >
      </div>
  </div>
</template>
<script>
import State from "../../services/state";
export default {
  name: "AppNavBar",
  created() {
    this.State = State;
  },
  methods: {
    enterLogout() {
      window.localStorage.clear()
      State.token = "";
      State.isLogin = false;
      this.$router.push({ path: "/login" });
    },
  },
};
</script>
<style lang="less">
.nav-bar {
  background: #0073c7;
  flex-basis: 70px;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  a {
    padding: 10px;
    & > div {
      width: 20px;
      height: 20px;
      color: #fff;
    }
  }
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 30px;
  position: relative;
  & > a {
    opacity: 0.3;
  }
  & > .router-link-exact-active {
    opacity: 1 !important;
  }
}

</style>