<template>
  <div>
    <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Name Shape</label>
    <input type="text" placeholder="Shape Name" v-model="name" />
    <div>
      <div style="margin: 10px 0 !important; display: block; font-weight: bold!important">
        Geometric
      </div> 
      <div>
        <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">X</label>
        <input type="number" v-model="x" />
      </div>
      <div>
        <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Y</label>
        <input type="number" v-model="y" />
      </div>
      <div v-if="shape.getClassName() != 'Line'">
        <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Width</label>
        <input type="number" v-model="width" />
      </div>
      <div v-if="shape.getClassName() != 'Line'">
        <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Height</label>
        <input type="number" v-model="height" />
      </div>

      <div v-if="shape.getGeometricKeys && shape.getGeometricKeys().length">
        <div style="margin: 10px 0 !important; display: block; font-weight: bold!important">
          Options
        </div> 
        <div v-for="nameAttr in shape.getGeometricKeys()" :key="nameAttr">
          <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">{{ nameAttr }}</label>
          <input
            :type="typeof shape[nameAttr]()"
            @change="changeAttr(nameAttr, $event)"
            v-if="typeof shape[nameAttr] == 'function'"
            :value="shape[nameAttr]()"
          />
        </div>
      </div>
    </div>
    <div>
      <div style="margin: 10px 0 !important; display: block; font-weight: bold!important;     font-size: 15px">
        Fill & Stroke
      </div> 
      <div class="item-toggle">
        <div style="margin: 10px 0 !important; display: block; font-weight: bold!important">
          Fill
        </div> 
        <div style="display: flex;align-items: center;position: relative;">
          <label style="margin: 10px 0 !important; display: block;">Enable Fill</label>
          <div>
            <div v-if="shape.fillEnabled()">
              <div class="button-sw button-cancel"
                @click="
                  shape.fillEnabled(false);
                  redrawShape();
                "
              >
                Off
              </div>
            </div>
            <div v-else>
              <div class="button-sw"
                @click="
                  shape.fillEnabled(true);
                  redrawShape();
                "
              >
                On
              </div>
            </div>
          </div>
        </div>
        <div>
          <div style="display: flex;align-items: center; position: relative;" v-if="shape.fillEnabled()">
            <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Color</label>
            <ColorPicker style="position: absolute;right: 0;z-index: 1000"
              :value="shape.fill()"
              :update-color="updateColorFill"
            />
          </div>
        </div>
      </div>
     <div class="item-toggle">
        <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Stroke</label>
        <div>
        <div style="display: flex;align-items: center;position: relative;">
          <div style="margin: 10px 0 !important; display: block; ">
            Enable Stroke
          </div> 
            <div v-if="shape.strokeEnabled()">
              <div class="button-sw button-cancel"
                @click="
                  shape.strokeEnabled(false);
                  redrawShape();
                "
              >
                Off
              </div>
            </div>
            <div v-else>
              <div class="button-sw"
                @click="
                  shape.strokeEnabled(true);
                  redrawShape();
                "
              >
                On
              </div>
            </div>
          </div>
          <div v-if="shape.strokeEnabled()">
            <div>
              <div style="display: flex;align-items: center; position: relative;" v-if="shape.strokeEnabled() && shape.getClassName() == 'Text'">
                <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Color</label>
                <ColorPicker style="position: absolute;right: 0;z-index: 1000"
                  :value="shape.stroke()"
                  :update-color="updateColorStroke"
                />
              </div>
              <div class="m10">
              Stroke width
              <input
                type="number"
                min="1"
                max="100"
                step="0.01"
                v-model="strokeWidth"
              />
              </div>
              <!-- Dash <input type="text" :value="shape.dash()"> -->
              <div class="m10">
              Line Join
              <Input
                :type="'dropdown'"
                :value="shape.lineJoin() || 'miter'"
                :options="['miter', 'round', 'bevel']"
                :emit="'lineJoin'"
                @lineJoin="
                  shape.lineJoin($event);
                  redrawShape();
                "
              />
              </div>
              <div class="m10">
              Line Cap
              <Input
                :type="'dropdown'"
                :value="shape.lineCap() || 'butt'"
                :options="['butt', 'round', 'square']"
                :emit="'lineCap'"
                @lineCap="
                  shape.lineCap($event);
                  redrawShape();
                "
              />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="shape.getClassName() == 'Text'">
      <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Text</label>
      <div>Text <input type="text" v-model="text" /></div>
      <div>Font size <input type="number" v-model="fontSize" /></div>
      <div>
        Font family <input type="text" v-model="fontFamily" />
      </div>
      <div>
          Type 
          <select v-model="fontStyle">
            <option value="normal">Normal</option>
            <option value="bold">Bold</option>
            <option value="italic">Italic</option>
            <option value="italic bold">Bold Italic</option>
          </select>
      </div>
      <div>
        Text decoration
        <select v-model="textDecoration">
        <option value=""></option>
        <option value="underline">Underline</option>
        <option value="line-through">Line-through</option>
        <option value="underline line-through">Underline Line-through</option>
      </select>
      </div>
    </div>
    <div>
      <label style="margin: 10px 0 !important; display: block; font-weight: bold!important">Filters</label>
      <ShapeFilter :filter-target="shape" />
    </div>
  </div>
</template>

<script>
import ShapeFilter from "./ShapeFilter";
import Input from "../misc-component/input";
import Toggle from "../misc-component/toggleButton";
import ColorPicker from "../misc-component/colorPicker";

export default {
  name: "AppProperties",
  components: {
    ShapeFilter,
    Input,
    Toggle,
    ColorPicker,
  },
  props: {
    shape: {
      type: Object,
      require: true,
    },
  },
  created() {
    this.console = console;
  },
  updated() {
    this.$nextTick(() => {
      console.log("123");
    });
  },
  methods: {
    redrawShape() {
      this.shape.clearCache();
      this.shape.draw();
      this.shape.cache();
      this.shape.getLayer().batchDraw();
    },
    getFonts() {},
    loadFont() {},
    dashArrToString(dashArr) {
      try {
        return `${dashArr.join(" ")}`;
      } catch (err) {
        return "";
      }
    },
    stringToDashArr(string) {
      try {
        return string.trim().split(" ");
      } catch (err) {
        return [];
      }
    },
    changeAttr(nameAttr, $event) {
      console.log(nameAttr, $event);
      let value = null;
      if (typeof this.shape[nameAttr]() == "number") {
        value = $event.target.valueAsNumber;
      } else if (typeof this.shape[nameAttr]() == "string") {
        value = $event.target.value;
      }
      this.shape[nameAttr](value);
      this.redrawShape();
    },
    applyToggle(filter, value) {
      this.$nextTick(() => {
        this.shape[filter](value);
        console.log(this.shape[filter]());
        this.redrawShape();
      });
    },
    updateColorFill(color) {
      console.log(color);
      this.shape.fill(color);
      this.redrawShape();
    },
    updateColorStroke(color) {
      this.shape.stroke(color);
      this.redrawShape();
    },
  },
  computed: {
    name: {
      get() {
        return this.shape.name();
      },
      set(value) {
        this.shape.name(value);
      },
    },
    x: {
      get() {
        return this.shape.x();
      },
      set(value) {
        this.shape.x(Number(value));
        this.redrawShape();
      },
    },
    y: {
      get() {
        return this.shape.y();
      },
      set(value) {
        this.shape.y(Number(value));
        this.redrawShape();
      },
    },
    width: {
      get() {
        return this.shape.width();
      },
      set(value) {
        this.shape.width(Number(value));
        this.redrawShape();
      },
    },
    height: {
      get() {
        return this.shape.height();
      },
      set(value) {
        this.shape.height(Number(value));
        this.redrawShape();
      },
    },
    shadowX: {
      get() {
        return this.shape.shadowOffsetX();
      },
      set(value) {
        this.shape.shadowOffsetX(Number(value));
        this.redrawShape();
      },
    },
    shadowY: {
      get() {
        return this.shape.shadowOffsetY();
      },
      set(value) {
        this.shape.shadowOffsetY(Number(value));
        this.redrawShape();
      },
    },
    text: {
      get() {
        return this.shape.text();
      },
      set(value) {
        // if(!value) {
        //     value = 'default'
        // }
        this.shape.text(value);
        this.redrawShape();
      },
    },
    fontSize: {
      get() {
        return this.shape.fontSize();
      },
      set(value) {
        this.shape.fontSize(Number(value));
        this.redrawShape();
      },
    },
    fontFamily: {
      get() {
        return this.shape.fontFamily();
      },
      set(value) {
        this.shape.fontFamily(value);
        this.redrawShape();
      },
    },
    strokeWidth: {
      get() {
        return this.shape.strokeWidth();
      },
      set(value) {
        this.shape.strokeWidth(Number(value));
        this.redrawShape();
      },
    },
    shadowEnabled: {
      get() {
        return this.shape.shadowEnabled();
      },
      set(value) {
        this.shape.shadowEnabled(value);
        this.redrawShape();
      },
    },
    textDecoration: {
      get() {
        return this.shape.textDecoration()
      },
      set(value) {
        this.shape.textDecoration(value);
        this.redrawShape();
      }
    },
    fontStyle: {
      get() {
        return this.shape.fontStyle()
      },
      set(value) {
        this.shape.fontStyle(value)
        this.redrawShape()
      }
    }
  },
};
</script>
<style scoped>
.button-sw {
    font-weight: bold !important;
    width: 60px !important;
    min-width: 60px;
    background-color: #3f84ff;
    height: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border: transparent;
    border-radius: 10px;
    color: #fff;
    user-select: none;
    transition: all ease-in 0.1s;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.button-sw:hover {
    background-color: #2f6fdf;
    border-color: #3f84ff;
    -webkit-box-shadow: 0 0 0 4px #3f84ff1f;
    box-shadow: 0 0 0 4px #3f84ff1f;
}
.item-toggle {
  position: relative;
}
.button-cancel {
  cursor: pointer;
  background-color: rgb(63 133 255 / 10%);
  color: #3f84ff;
  transition: all ease-in 0.1s;
}
.button-cancel:hover {
  cursor: pointer;
  background-color: rgb(63 133 255 / 10%);
  color: #3f84ff;
  transition: all ease-in 0.1s;
}
.m10 {
  margin: 12px 0;
}
</style>