<template>
  <div class="top-area">
    <div class="item">
      <div class="item-name" @click="renameProject" title="Rename Project">
        {{ appConfig.project.projectName || "NO PROJECT" }}
      </div>
      <div class="item-icon" @click="openProject" title="Open Project">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <path
              d="M589.173,356.232l-104.756,198.26c-5.125,9.858-19.653,20.285-30.872,20.285l-420.096,0.077
		c-8.875,0-17.384-3.518-23.655-9.794C3.523,558.783,0,550.283,0,541.405l0.068-326.209c0-18.448,14.955-33.417,33.405-33.435
		l30.715-0.029v28.496H43.639c-4.022,0-7.885,1.596-10.731,4.442c-2.843,2.846-4.442,6.706-4.442,10.731l0.03,305.796
		c0,8.388,6.797,15.173,15.176,15.173h21.045l99.28-200.836c5.609-11.219,16.208-20.286,27.411-20.286h243.14l0.083-80.823
		c15.876,1.472,28.406,14.641,28.406,30.893v49.931H574.55C587.719,325.384,598.808,338.406,589.173,356.232z M83.558,445.272
		c-0.907-99.969,0-399.884,0-399.884c0-15.132,12.306-27.429,27.423-27.429h219.614c3.518,0,6.874,1.472,9.251,4.061l71,77.141
		c2.128,2.323,3.321,5.364,3.321,8.515v199.839h-23.034V124.932c0-3.159-2.565-5.725-5.728-5.725h-54.343
		c-6.36,0-11.532-5.163-11.532-11.511V46.721c0-3.16-2.565-5.725-5.728-5.725H110.995c-2.423,0-4.395,1.971-4.395,4.392v374.739
		l-17.626,35.66C88.975,455.781,83.649,455.391,83.558,445.272z M342.588,96.182H376.8l-34.212-37.188V96.182z M355.065,142.667
		H142.813c-7.82,0-14.168,6.354-14.168,14.174c0,7.814,6.354,14.171,14.168,14.171h212.258c7.82,0,14.187-6.362,14.187-14.171
		C369.245,149.027,362.88,142.667,355.065,142.667z M369.245,239.376c0-7.814-6.359-14.162-14.18-14.162H142.813
		c-7.82,0-14.168,6.36-14.168,14.162c0,7.814,6.354,14.162,14.168,14.162h212.258C362.88,253.539,369.245,247.19,369.245,239.376z
		 M128.636,322.47c0,7.813,6.357,14.162,14.171,14.162h5.089c8.958-24.967,31.164-28.324,31.164-28.324h-36.253
		C135.005,308.308,128.636,314.656,128.636,322.47z"
            />
          </g>
        </svg>
      </div>
      <div class="item-icon" @click="saveProject" title="Save Project">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M438.284,0H60C26.916,0,0,26.916,0,60v392c0,33.084,26.916,60,60,60h392c33.084,0,60-26.916,60-60V73.716L438.284,0z
			 M120,40h230v118H120V40z M392,472H120V314h272V472z M472,452c0,11.028-8.972,20-20,20h-20V274H80v198H60
			c-11.028,0-20-8.972-20-20V60c0-11.028,8.972-20,20-20h20v158h310V40h31.716L472,90.284V452z"
              />
            </g>
          </g>
          <g>
            <g>
              <rect x="274" y="59" width="40" height="79" />
            </g>
          </g>
        </svg>
      </div>
      <div class="item-icon" @click="closeProject" title="Close Project">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          	<path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />

        </svg>
      </div>
      <div class="item-icon" @click="exportProject" title="Export">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
<path id="XMLID_223_" d="M363.598,247.01c0.146-0.177,0.272-0.365,0.409-0.547c0.157-0.209,0.319-0.414,0.464-0.632
	c0.145-0.216,0.27-0.441,0.402-0.662c0.118-0.198,0.243-0.392,0.352-0.596c0.121-0.225,0.223-0.458,0.332-0.688
	c0.101-0.213,0.207-0.423,0.298-0.643c0.092-0.223,0.167-0.451,0.248-0.678c0.085-0.235,0.175-0.467,0.248-0.708
	c0.068-0.226,0.118-0.454,0.176-0.683c0.062-0.246,0.131-0.49,0.181-0.741c0.052-0.261,0.082-0.524,0.12-0.788
	c0.032-0.221,0.074-0.439,0.096-0.664c0.048-0.485,0.073-0.973,0.074-1.46c0-0.007,0.001-0.013,0.001-0.02
	c0-0.008-0.001-0.017-0.001-0.025c0-0.486-0.025-0.971-0.073-1.455c-0.022-0.225-0.064-0.442-0.096-0.664
	c-0.038-0.263-0.068-0.526-0.12-0.787c-0.05-0.253-0.12-0.499-0.182-0.747c-0.057-0.226-0.107-0.453-0.174-0.677
	c-0.073-0.242-0.164-0.476-0.25-0.713c-0.081-0.225-0.155-0.452-0.246-0.673c-0.092-0.221-0.199-0.432-0.3-0.647
	c-0.108-0.229-0.209-0.459-0.329-0.683c-0.11-0.206-0.236-0.401-0.355-0.6c-0.131-0.221-0.256-0.443-0.4-0.658
	c-0.147-0.219-0.31-0.424-0.467-0.635c-0.136-0.182-0.262-0.368-0.407-0.544c-0.299-0.365-0.616-0.714-0.948-1.049
	c-0.016-0.016-0.029-0.034-0.045-0.05l-37.499-37.501c-5.857-5.857-15.355-5.858-21.213-0.001c-5.858,5.858-5.858,15.355,0,21.213
	l11.894,11.895L270,222.501v-78.605c0.003-0.133,0.02-0.263,0.02-0.396c0-3.606-1.287-6.903-3.407-9.49
	c-0.021-0.026-0.042-0.053-0.064-0.079c-0.276-0.332-0.567-0.65-0.871-0.958c-0.043-0.044-0.087-0.089-0.131-0.133
	c-0.132-0.131-0.255-0.272-0.393-0.398L155.609,22.896c-0.005-0.004-0.01-0.009-0.015-0.014c-0.307-0.306-0.627-0.593-0.955-0.868
	c-0.104-0.087-0.212-0.169-0.318-0.253c-0.24-0.19-0.483-0.374-0.733-0.548c-0.125-0.088-0.251-0.174-0.379-0.258
	c-0.263-0.172-0.53-0.333-0.802-0.487c-0.112-0.063-0.22-0.132-0.334-0.193c-0.363-0.194-0.733-0.372-1.109-0.534
	c-0.154-0.067-0.311-0.124-0.467-0.186c-0.25-0.099-0.501-0.192-0.756-0.277c-0.175-0.058-0.35-0.114-0.527-0.166
	c-0.289-0.084-0.581-0.158-0.875-0.225c-0.131-0.029-0.259-0.066-0.392-0.093c-0.42-0.084-0.844-0.146-1.27-0.193
	c-0.13-0.015-0.262-0.023-0.393-0.035c-0.353-0.031-0.706-0.048-1.06-0.054C145.148,18.51,145.076,18.5,145,18.5H15
	c-8.284,0-15,6.716-15,15v300c0,8.284,6.716,15,15,15h240c8.284,0,15-6.716,15-15v-80.999l45.786,0.001l-11.893,11.893
	c-5.858,5.858-5.858,15.355,0,21.213c2.929,2.929,6.768,4.394,10.606,4.394s7.678-1.464,10.606-4.394l37.499-37.499
	c0.008-0.008,0.014-0.016,0.021-0.023C362.968,247.742,363.292,247.383,363.598,247.01z M160,69.713l58.787,58.787H160V69.713z
	 M240,318.5H30v-270h100v95c0,8.284,6.716,15,15,15h95v64.001l-65.001-0.001c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15
	L240,252.501V318.5z"/>
        </svg>
      </div>
    </div>
    <div class="item">
      <div
        class="item-icon"
        @click="
          appConfig.currentFocus.moveUp();
          appConfig.currentFocus.getLayer().batchDraw();
        "
        title="Move UP"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <path
            d="M476.723,216.64L263.305,3.115C261.299,1.109,258.59,0,255.753,0c-2.837,0-5.547,1.131-7.552,3.136L35.422,216.64
			c-3.051,3.051-3.947,7.637-2.304,11.627c1.664,3.989,5.547,6.571,9.856,6.571h117.333v266.667c0,5.888,4.779,10.667,10.667,10.667
			h170.667c5.888,0,10.667-4.779,10.667-10.667V234.837h116.885c4.309,0,8.192-2.603,9.856-6.592
			C480.713,224.256,479.774,219.691,476.723,216.64z"
          />
        </svg>
      </div>
      <div
        class="item-icon"
        @click="
          appConfig.currentFocus.moveDown();
          appConfig.currentFocus.getLayer().batchDraw();
        "
        title="Move Down"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <path
            d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
			c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
			l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
			C479.793,292.501,480.71,287.915,479.046,283.925z"
          />
        </svg>
      </div>
      <div class="item-icon" @click="duplicateObject()" title="Duplicate">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M368.64,0H20.48C9.175,0,0,9.175,0,20.48v348.16c0,11.305,9.175,20.48,20.48,20.48h348.16
			c11.305,0,20.48-9.175,20.48-20.48V20.48C389.12,9.175,379.945,0,368.64,0z M348.16,348.16H40.96V40.96h307.2V348.16z"
              />
            </g>
          </g>
          <g>
            <g>
              <path
                d="M471.04,419.84v51.2h-51.2V512h71.68c11.305,0,20.48-9.175,20.48-20.48v-71.68H471.04z"
              />
            </g>
          </g>
          <g>
            <g>
              <rect x="262.349" y="471.04" width="110.182" height="40.96" />
            </g>
          </g>
          <g>
            <g>
              <path
                d="M163.84,471.04v-51.2h-40.96v71.68c0,11.305,9.175,20.48,20.48,20.48h71.68v-40.96H163.84z"
              />
            </g>
          </g>
          <g>
            <g>
              <path
                d="M491.52,122.88h-71.68v40.96h51.2v51.2H512v-71.68C512,132.055,502.825,122.88,491.52,122.88z"
              />
            </g>
          </g>
          <g>
            <g>
              <rect x="471.04" y="262.349" width="40.96" height="110.182" />
            </g>
          </g>
        </svg>
      </div>
      <div class="item-icon" @click="removeObject()" title="Remove">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <path
              d="m256 0c-141.49 0-256 114.5-256 256 0 141.49 114.5 256 256 256 141.49 0 256-114.5 256-256 0-141.49-114.5-256-256-256zm-12.284 317.397-58.121 58.132c-6.565 6.553-15.283 10.166-24.557 10.166-19.196 0-34.734-15.526-34.734-34.734 0-9.274 3.612-17.992 10.166-24.557l58.132-58.121c6.785-6.784 6.785-17.783 0-24.568l-58.132-58.121c-6.553-6.565-10.166-15.283-10.166-24.557 0-19.196 15.526-34.734 34.734-34.734 9.274 0 17.992 3.613 24.557 10.166l58.121 58.132c6.785 6.773 17.784 6.773 24.568 0l58.121-58.132c6.565-6.553 15.283-10.166 24.557-10.166 19.196 0 34.734 15.526 34.734 34.734 0 9.274-3.612 17.992-10.166 24.557l-58.132 58.121c-6.785 6.784-6.785 17.783 0 24.568l58.132 58.121c6.553 6.565 10.166 15.283 10.166 24.557 0 19.196-15.526 34.734-34.734 34.734-9.274 0-17.992-3.613-24.557-10.166l-58.121-58.132c-6.784-6.784-17.784-6.773-24.568 0z"
            />
          </g>
        </svg>
      </div>
    </div>
    <div class="item">
      <div class="item-icon" @click="rotationLeft()" title="Rotation Left">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <g>
                <path
                  d="M96.853,160.533l-30.187-30.187c-19.2,24.747-31.04,53.333-34.667,82.987h43.093
				C78.187,194.667,85.44,176.64,96.853,160.533z"
                />
                <path
                  d="M75.093,256H32c3.627,29.653,15.467,58.24,34.667,82.987L96.853,308.8C85.44,292.693,78.187,274.667,75.093,256z"
                />
                <path
                  d="M96.64,369.387c24.747,19.307,53.547,30.72,83.2,34.347V360.64c-18.667-3.093-36.587-10.453-52.587-21.867L96.64,369.387
				z"
                />
                <path
                  d="M222.507,65.493V0L125.44,97.067L222.507,192v-83.413c60.48,10.133,106.667,62.72,106.667,126.08
				s-46.187,115.947-106.667,126.08v43.093c84.16-10.56,149.333-82.133,149.333-169.173S306.667,76.053,222.507,65.493z"
                />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <!-- <input v-if="appConfig.currentFocus" type="number" step="1" v-model="rotation" style="max-width: 4em; padding: .5em; border: 1px solid rgba(0,0,0,0.54); border-radius: .25em;"> -->
      <div class="item-icon" @click="rotationRight()" title="Rotation Right">
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          fill="currentColor"
          xml:space="preserve"
        >
          <g>
            <g>
              <g>
                <path
                  d="M371.84,213.333c-3.627-29.653-15.467-58.24-34.667-82.987l-30.187,30.187c11.413,16.107,18.667,34.133,21.76,52.8
				H371.84z"
                />
                <path
                  d="M278.4,97.067L181.333,0v65.493C97.173,75.947,32,147.627,32,234.667s65.173,158.72,149.333,169.173v-43.093
				c-60.48-10.133-106.667-62.72-106.667-126.08s46.187-115.947,106.667-126.08V192L278.4,97.067z"
                />
                <path
                  d="M224,360.64v43.2c29.653-3.627,58.453-15.147,83.2-34.347l-30.613-30.613C260.587,350.187,242.667,357.44,224,360.64z"
                />
                <path
                  d="M306.987,308.8L306.987,308.8l30.187,30.187c19.2-24.747,31.04-53.333,34.667-82.987h-43.093
				C325.653,274.667,318.4,292.693,306.987,308.8z"
                />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div v-if="appConfig.currentFocus">
        <div>
          <div>
            <input
              class="inputSmall"
              placeholder="100%"
              type="text"
              v-model="opacity"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Shape } from "konva";
import {
  removeAllTransformer,
  setCurrentFocusedObject,
} from "../../services/utils";
import { AppConfig } from "../../models/app-config";
import ApiService from "../../services/apiservice";
import stage from "../../services/state";

export default {
  name: "TopNav",
  props: {
    appConfig: Object,
    setAppConfig: Function,
  },
  created() {
    this.dialog = Vue.dialog;
  },
  methods: {
    removeObject() {
      const _layer = this.appConfig.currentFocus.getLayer();
      this.appConfig.currentFocus.remove();
      this.appConfig.currentFocus = null;
      _layer.batchDraw();
      removeAllTransformer(this.appConfig.stage);
    },
    duplicateObject() {
      const _layer = this.appConfig.currentFocus.getLayer();
      const _object = this.appConfig.currentFocus.toObject();
      _object.attrs.x = 0;
      _object.attrs.y = 0;
      _object.attrs.name += "(Copy)";

      if (_object.className == "Image") {
        this.appConfig.listLayer.currentLayer.addImage(
          _object.src,
          _object.attrs
        );
      } else {
        this.appConfig.listLayer.currentLayer.addObject(
          _object.className,
          _object.attrs
        );
      }
    },
    shouldDisableMoveUp() {
      if (!this.appConfig.currentFocus) return true;
      if (
        this.appConfig.listLayer.currentLayer ==
        this.appConfig.listLayer.backgroundLayer
      ) {
        const _shapes = this.appConfig.listLayer.currentLayer.getShapes();
        const _zIndex = this.appConfig.currentFocus.getZIndex();
        if (_zIndex == _shapes.length - 1) return true;
        return false;
      } else {
        const _shapes = this.appConfig.listLayer.currentLayer.getShapes();
        const _zIndex = this.appConfig.currentFocus.getZIndex();
        if (_zIndex == _shapes.length - 1) return true;
        return false;
      }
    },
    shouldDisableMoveDown() {
      if (!this.appConfig.currentFocus) return true;
      if (
        this.appConfig.listLayer.currentLayer ==
        this.appConfig.listLayer.backgroundLayer
      ) {
        if (this.appConfig.currentFocus.getZIndex() == 1) return true;
        return false;
      } else {
        if (this.appConfig.currentFocus.getZIndex() == 0) return true;
        return false;
      }
    },
    rotationLeft() {
      this.appConfig.currentFocus.rotation(
        this.appConfig.currentFocus.rotation() - 1
      );
      this.appConfig.currentFocus.getLayer().batchDraw();
    },
    rotationRight() {
      this.appConfig.currentFocus.rotation(
        this.appConfig.currentFocus.rotation() + 1
      );
      this.appConfig.currentFocus.getLayer().batchDraw();
    },
    renameProject() {
      if (!this.appConfig.project || !this.appConfig.project.projectName) {
        return;
      }
      this.dialog
        .alert("", {
          view: "Rename",
          name: this.appConfig.project.projectName,
        })
        .then((res) => {
          console.log(res.data);
          if (!res.data) return;
          const payload = {
            idProject: this.appConfig.project.idProject,
            projectName: res.data,
            projectInfo: this.appConfig.project.projectInfo,
          };
          ApiService.updateProject(payload).then((res) => {
            console.log(res);
            if (res.code == 200) {
              this.setAppConfig && this.setAppConfig(res.content);
              Vue.$toast.success("RENAME PROJECT SUCCESS");
              return;
            }
            Vue.$toast.error("RENAME PROJECT ERROR");
          });
        });
    },
    openProject() {
      let self = this;
      this.dialog
        .alert("", {
          view: "SelectProject",
        })
        .then((res) => {
          console.log(res);
          this.setAppConfig && this.setAppConfig(res.data);
          Vue.$toast.success("OPEN PROJECT SUCCESS");
        })
        .catch((res) => {});
    },
    closeProject() {
      this.setAppConfig &&
        this.setAppConfig({ projectInfo: JSON.stringify(stage.defaultConfig) });
      Vue.$toast.success("CLOSE PROJECT SUCCESS")
    },
    saveProject() {
      if (!this.appConfig.project || !this.appConfig.project.idProject) {
        console.log("show folder");
        Vue.$toast.warning("PLEASE CREATE NEW PROJECT")
        let self = this;
        this.dialog
          .alert("", {
            view: "CreateProject",
          })
          .then((res) => {
            console.log(res);
            this.setAppConfig && this.setAppConfig(res.data);
            Vue.$toast.success("CREATE PROJECT SUCCESS")
          })
          .catch((res) => {});
        return;
      } else {
        const payload = {
          idProject: this.appConfig.project.idProject,
          projectName: this.appConfig.project.projectName,
          projectInfo: JSON.stringify(this.appConfig.exportJSON()),
        };
        ApiService.updateProject(payload).then((res) => {
          console.log(res);
          Vue.$toast.success("SAVE PROJECT SUCCESS")
        });
      }
    },
    exportProject() {
      if (!this.appConfig.project || !this.appConfig.project.idProject) {
        return;
      }
      this.dialog
        .alert("", {
          view: "ExportProject",
          data: this.appConfig,
        })
        .then((dialog) => {})
        .catch((res) => {});
    },
  },
  computed: {
    rotation: {
      get() {
        return this.appConfig.currentFocus.rotation();
      },
      set(value) {
        console.log(value);
        this.appConfig.currentFocus.rotation(
          this.appConfig.currentFocus.rotation() + Number(value)
        );
        this.appConfig.currentFocus.getLayer().batchDraw();
      },
    },
    opacity: {
      get() {
        return this.appConfig.currentFocus.opacity();
      },
      set(value) {
        console.log(value);
        this.appConfig.currentFocus.opacity(Number(value));
        this.appConfig.currentFocus.getLayer().batchDraw();
      },
    },
  },
};
</script>


<style lang="less">
.top-area {
  display: flex;
  flex-direction: column;
}
.inputSmall {
  width: 80px !important;
}
.item-name {
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  margin: 0 15px 0 20px;
  transition: all ease-in-out 0.2s;
  box-shadow: 0 0 0 10px #fff;
  background: #fff;
  cursor: pointer;
}
</style>