<template>
    <div class="dialog-inline">
        <div class="title">
            OPEN PROJECT
        </div>
        <div style="width: 62%;
        height: 92%;
        display: block;
        float: left;
        border: 2px solid #f3f3f4;
        margin-right: 20px;">
            <img :src="imageUrl" alt="Error" style="display: flex;width: 100%;height: 100%;">
        </div>
        <div style="display: block; float:left; width: 35%;">
            <div>   
                <span class="span-tag"> NAME: </span>
                <input type="text" v-model="exportConfig.imageName">
                
                <span class="span-tag"> Export Type: </span>
                <select v-model="exportConfig.exportType">
                    <option value="png">png</option>
                    <option value="gif">gif</option>
                    <option value="jpg">jpg</option>
                </select>
                <span class="span-tag"> Crop Image </span>
                <div>
                    <span class="span-tag"> X: </span>
                    <input type="number" v-model="exportConfig.x">
                    <span class="span-tag"> Y: </span>
                    <input type="number" v-model="exportConfig.y">
                </div>
                <span class="span-tag"> Width Height Image </span>
                <div>
                    <span class="span-tag"> Width: </span>
                    <input type="number" v-model="exportConfig.width">
                    <span class="span-tag"> Height: </span>
                    <input type="number" v-model="exportConfig.height">
                </div>
                </div>
                <div class="footer mg10">
                    <div class="cancel"
                        @click="close();"
                    >
                        Cancel
                    </div>
                    <div class="submit" @click="saveImageLocal">
                        Save
                    </div>
                    <div style="min-width: 120px;" class="submit" @click="saveImageCloud">
                        Save Cloud
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
import Vue from 'vue'
import DialogMixin from 'vuejs-dialog/dist/vuejs-dialog-mixin.min.js'
import ApiService from '../../services/apiservice'
import './index.css'
export default {
    mixins: [DialogMixin],
    data() {
        return {
            image: null,
            imageUrl: '/',
            exportConfig:{
                imageName: "Untitled Image",
                exportType: "png",
                exportQuality: 1,
                x: 0,
                y: 0,
                width: null,
                height: null
            }
        }
    },
    mounted() {
        this.appConfig = this.options.data
        this.exportConfig.width = this.appConfig.mainConfig.width;
        this.exportConfig.height = this.appConfig.mainConfig.height;
        this.doReloadImageURL()
    },
    methods: {
        cancel() {
            this.cancel(false)
        },
        ok() {
        console.log(this)

            // this.proceed(true)
        },
        doReloadImageURL() {
            this.imageUrl = this.appConfig.toImageURL(this.exportConfig);
            console.log(this.imageUrl)
        },
        saveImageLocal() {
            this.appConfig.saveStageAsImage(this.exportConfig);
            // this.close()
        },
        saveImageCloud() {
            this.appConfig.toBlob(this.exportConfig)
            .then((blob) => {
                const payload = new FormData();      
                payload.append("file", blob, this.exportConfig.imageName);
                return payload
            })
            .then(payload => {
                ApiService.createImage(payload)
                .then(res => {
                    console.log(res)
                    if(res.code == 200) {
                        Vue.$toast.success("SAVE IMAGE TO CLOUD SUCCESS")
                    }else {
                        Vue.$toast.error("SAVE IMAGE TO CLOUD ERROR")
                    }
                    // this.close()
                })
            })
        }
    }
}
</script>
<style scoped>
.dialog-inline {
    display: block;
    width: 1120px;
    height: 595px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    left: -280px;
    top: -16px;
    padding: 24px;
}
.span-tag {
    margin: 5px 0;
    display: block;
}
.mg10 > div {
    margin: 0 6px;
}
</style>